
<div class="card mb-5">
    <div class="card-header">
      Answer Revealed -- No points
    </div>
    <div class="card-body">
      <h3 class="card-title"><%= answer %></h3>
      <p class="card-text">Release Year: <%= year %></p>
      <a href="#" class="btn btn-primary">Play Again</a>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>

  <style>
    .card-header {
      background-color: rgb(255, 191, 0);
    }
  </style>