<h4>Enter Your Guess</h4>
<!-- <form id="guess-form"> -->
    <div class="form-group">
        <label for="guess-title">Guess the Movie</label>
        <input type="text" class="form-control" id="guess-title" placeholder="Enter Movie Title">
    </div>
    <button type="submit" class="btn btn-primary" id="title-submit">Submit</button>

    <hr>
    <div class="form-group">
        <label for="guess-year">Guess the Year</label>
        <input type="text" class="form-control" id="guess-year" placeholder="Enter Movie Release Year">
    </div>
    <button type="submit" class="btn btn-primary" id="year-submit">Submit</button>
<!-- </form> -->
    <br><br><br>

    <!-- <button>
        Reveal The Movie Release Year or Guess the Year for 3 points
    </button> -->