<h4>Enter Your Guess</h4>
<form id="guess-form">
    <div class="form-group">
        <label for="guess">Guess</label>
        <input type="text" class="form-control" id="guess" placeholder="Enter Guess">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br><br><br>
    <button>
        Reveal The Movie Release Year or Guess the Year for 3 points
    </button>