<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Know Your Movie Audio</span>
    <span class="navbar-text">
        score: <span id="score"></span>
      </span>
  </nav>