<nav class="navbar navbar-light bg-light">
    <span id="name-span" class="navbar-brand mb-0 h1">
        Hi <%= name %>!
    </span>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit" id="logout-button" value="<%= name %>">Log Out
        </button>
    </form>
    <span class="navbar-text">
        score: <span id="score"></span>
    </span>
</nav>